.NOT_DEFINED_MODS {
}

.NM {
	color: #878787 !important;
}

.HD {
	color: #d9bb4f !important;
}

.HR {
	color: #d94f4f !important;
}

.FM {
	color: hotpink !important;
}

.DT {
	color: #9c4fd9 !important;
}

.TB {
	color: #6bd94f !important;
}

.boxes {
	position: relative;
	display: flex;

	flex-direction: row;
}

.players {
	position: relative;
	box-sizing: border-box;
	width: 960px;
	height: 1080px;
	background-color: black;
	padding: 30px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
	gap: 30px;
}

.chat {
	width: 900px;
	word-wrap: break-word;
	box-sizing: border-box;
	height: 157px;
	max-height: 157px;
	background-color: #232323;
	border-radius: 10px;
	padding: 8px 10px;
	color: #ffffff;
	white-space: pre-wrap;
	overflow-y: auto;

	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;

	&::-webkit-scrollbar {
		display: none;
	}

	&_red {
		color: #ed6f6f;
	}

	&_blue {
		color: #4f9fd9;
	}
	&_bot {
		color: #ed6f9a;
	}

	&_referee,
	&_unknown {
		color: yellow;
	}

	&_time {
		color: #939393;
	}
}

.xppenGirl {
	height: 142px;
	min-height: 142px;
	background-image: url('./assets/xppen.png');
	background-size: cover;
}

.playersContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 580px;
}

.player {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 130px;
	display: flex;
	flex-direction: row;
	gap: 18px;

	&_roll {
		width: 50px;
		height: 50px;
		max-width: 50px;
		max-height: 50px;

		position: absolute;
		bottom: -10px;
		left: -9px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;

		background: #ffffff;
		box-shadow: 0px 4px 4px #000000;
		border-radius: 10px;

		white-space: nowrap; /* Запрещаем перенос строк */
		overflow: hidden; /* Обрезаем все, что не помещается в область */
		text-overflow: ellipsis; /* Добавляем многоточие */

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;

		text-align: center;
		letter-spacing: 0.03em;

		& > span:nth-child(1) {
			font-size: 10px;
			line-height: 11px;
		}
		& > span:nth-child(2) {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&_avatar {
		width: 130px;
		max-width: 130px;
		max-height: 130px;

		background-size: cover;
		border-radius: 10px;
	}

	&_bans {
		display: flex;
		flex-direction: column;
		gap: 20px;

		& > div {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 54px;
			height: 55px;
			border-radius: 10px;

			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
		}
	}

	&_ban {
		&_red {
			border: 2px solid #d94f4f;
			color: #d94f4f;
		}

		&_blue {
			border: 2px solid #4f9fd9;
			color: #4f9fd9;
		}
	}

	&_matchProgression {
		width: 531px;
		overflow: hidden;
		background: #232323;
		border-radius: 10px;

		display: flex;

		&_matchPick {
			position: relative;
			width: 100px;
			height: 100%;
			background-position: center;
			background-size: cover;
			background-image: url('https://assets.ppy.sh/beatmaps/1/covers/cover@2x.jpg');
		}

		&_matchPick:before {
			width: 100%;
			position: absolute;
			content: '';
			height: 100%;
		}

		&_green:before {
			background: rgba(5, 255, 0, 0.6);
		}

		&_yellow:before {
			background: rgba(255, 214, 0, 0.6);
		}

		&_red:before {
			background: rgba(255, 0, 0, 0.6);
		}

		&_blue:before {
			background: rgba(0, 102, 255, 0.6);
		}

		&_hidden {
			display: none;
		}
	}

	&_counterFill {
		width: 130px;
		height: 130px;

		display: flex;
		align-items: center;
		justify-content: center;

		background: white;
		border-radius: 10px;
		color: #191919;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 64px;
		line-height: 96px;
	}

	&_counterOutline {
		box-sizing: border-box;
		width: 130px;
		height: 130px;

		display: flex;
		align-items: center;
		justify-content: center;

		border: 5px solid #ffffff;
		border-radius: 10px;
		color: white;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 64px;
		line-height: 96px;
	}
}

.picks {
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	margin: 30px;
	gap: 20px;
}

.pick {
	&_filled {
		position: relative;
		width: 900px;
		height: 83px;
		border-radius: 10px;
		overflow: hidden;

		background: url('https://a.kurikku.pw/999');
		background-size: cover;
		background-position: center;

		color: white;

		&_fade {
			position: relative;
			width: 900px;
			height: 83px;
			background: rgba(25, 25, 25, 0.9);

			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		&_left {
			display: flex;
			flex-direction: row;
			gap: 20px;

			&_description {
				display: flex;
				flex-direction: column;

				&_title {
					max-width: 570px;
					margin-top: 5px;
					font-family: 'Poppins', sans-serif;
					font-weight: 600;
					font-size: 32px;
					line-height: 48px;
					white-space: nowrap; /* Запрещаем перенос строк */
					overflow: hidden; /* Обрезаем все, что не помещается в область */
					text-overflow: ellipsis; /* Добавляем многоточие */
				}

				&_subtitle {
					font-family: 'Poppins', sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 10px;
				}
			}
		}

		&_right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: 8px;
			margin-right: 20px;

			font-family: 'Poppins';
			font-weight: 600;
			font-size: 20px;
			letter-spacing: 0.03em;

			&_littleSpan {
				font-weight: 600;
				font-size: 14px;
				color: #f55e8c;
			}
		}

		&_card {
			width: 50px;
			height: 83px;
			background: #ffffff;
			border-radius: 10px;
			color: #191919;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			font-family: 'Poppins';
			font-weight: 600;

			&_title {
				font-size: 16px;
				line-height: 24px;
			}

			&_version {
				font-size: 36px;
				line-height: 33px;
			}
		}
	}

	&_empty {
		width: 900px;
		height: 83px;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		color: #1c1c1e;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 54px;
		text-align: center;
		letter-spacing: 0.03em;

		background: black;
		border-radius: 10px;
	}
}
