#main {
	font-size: 30px;
	font-family: Nexa Bold, Helvetica, sans-serif;
	font-weight: normal;
	color: white;
	width: 1920px;
	height: 1080px;
	position: relative;
}
.odometer.odometer-auto-theme {
	font-size: 24px !important;
	font-family: 'Nexa Bold', Helvetica, sans-serif !important;
	font-weight: normal !important;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-left: -5px !important;
	margin-right: -5px !important;
}
#top {
	position: absolute;
	width: 1920px;
	height: 80px;
	background-color: #ffffff;
	top: 0px;
	/* border: 1px solid red; */
}

#bottom {
	position: absolute;
	bottom: 92px;
	left: 30px;
	width: 940px;
	height: 244px;
	background-image: none;
	background-repeat: no-repeat;
	transition: ease-in-out 200ms;
	z-index: 0;
	background-size: cover;
}

#playScoreBlue {
	position: absolute;
	padding: 5px 30px 5px 30px;
	text-align: center;
	border-radius: 25px;
	left: 50px;
	bottom: 110px;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	width: 400px;

	background-color: #007e93;
	color: white;
	font-family: Nexa Bold;
	font-size: 40px;
	line-height: 60px;
	display: block;

	transition: ease-in-out 500ms;
}
#playScoreRed {
	position: absolute;
	padding: 5px 30px 5px 30px;
	text-align: center;
	border-radius: 25px;
	right: 1200px;
	bottom: 110px;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	width: 400px;

	background-color: #8e0029;
	color: white;
	font-family: 'Nexa Bold';
	font-size: 40px;
	line-height: 60px;
	display: block;

	transition: ease-in-out 500ms;
}

#ScoreBetween {
	position: absolute;
	padding: 5px 30px 5px 30px;
	text-align: center;
	border-radius: 25px;
	left: 350px;
	bottom: 30px;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	width: 400px;

	background-color: transparent;
	color: white;
	font-family: Nexa Bold;
	font-size: 40px;
	line-height: 60px;
	display: block;

	transition: ease-in-out 500ms;
}

#mapContainer {
	position: absolute;
	width: 900px;
	height: 149px;
	left: 990px;
	bottom: 188px;
	background-color: black;
	background-size: cover;
	border-radius: 10px;
	z-index: 0;
}
#overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 900px;
	height: 149px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
}
#mapTitle {
	position: absolute;
	width: 630px;
	height: 56px;
	left: 68px;
	top: 2px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;

	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; /* Добавляем многоточие */

	color: #ffffff;
}
#mapArtist {
	position: absolute;
	width: 630px;
	height: 55.16px;
	left: 68px;
	top: 40px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;

	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; /* Добавляем многоточие */

	color: #ffffff;
}

#diffText {
	position: absolute;
	width: 426px;
	height: 31px;
	left: 68px;
	top: 80px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 156%;
	/* or 22px */

	display: flex;
	align-items: flex-end;

	color: #f55e8c;
}

#mapDifficulty {
	position: absolute;
	width: 426px;
	height: 31px;
	left: 133px;
	top: 83px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 156%;
	/* or 31px */

	display: flex;
	align-items: flex-end;
	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; /* Добавляем многоточие */

	color: #ffffff;
}

#mapperBlock {
	display: flex;
	flex-direction: row-reverse;
	gap: 5px;
	margin-top: -56px;
	margin-right: 20px;
	align-items: center;
	text-align: left;
}

#mapperText {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 3px;
	/* or 22px */

	color: #f55e8c;
}

#mapperName {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/* or 31px */

	color: #ffffff;
}

#mapIDblock {
	display: flex;
	flex-direction: row-reverse;
	gap: 5px;
	margin-top: 3px;
	margin-right: 20px;
	align-items: center;
	text-align: left;
}

#mapIDtext {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 3px;
	/* or 22px */

	color: #f55e8c;
}

#mapID {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/* or 31px */

	color: #ffffff;
}

#mapStats {
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-top: 115px;
	margin-left: 70px;
	align-items: center;
	vertical-align: 5px;
}

#csText {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 3px;
	/* or 22px */

	color: #f55e8c;
}

#mapCS {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/* or 31px */

	color: #ffffff;
}

#arText {
	position: relative;
	margin-left: 10px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 3px;
	/* or 22px */

	color: #f55e8c;
}

#mapAR {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/* or 31px */

	color: #ffffff;
}

#odText {
	position: relative;
	margin-left: 10px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 3px;
	/* or 22px */

	color: #f55e8c;
}

#mapOD {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/* or 31px */

	color: #ffffff;
}

#bpmText {
	position: relative;
	margin-left: 10px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 3px;
	/* or 22px */

	color: #f55e8c;
}

#mapBPM {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/* or 31px */

	color: #ffffff;
}

#srText {
	position: relative;
	margin-left: 10px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 3px;
	/* or 22px */

	color: #f55e8c;
}

#mapSR {
	position: relative;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/* or 31px */

	color: #ffffff;
}

#chats {
	background: #22202a;
	position: absolute;
	left: 15px;
	width: 913px;
	height: 235px;
	border-radius: 5px;
	bottom: 15px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px 15px;
	font-size: 18px;
	font-family: Gothic-b, monospace;
	transition: ease-in-out 500ms;
}

.chat {
	display: flex;
	text-align: left;
}

.chatTime {
	width: 5%;
	color: silver;
	padding-right: 10px;
}
.wholeChat {
	width: 95%;
	display: flex;
}
.chatName {
	color: white;
	white-space: nowrap;
	width: max-content;
}
.chatText {
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
.unknown {
	color: yellow;
}
.bot {
	color: #ff66aa;
}
.left {
	color: #ed1855;
}
.right {
	color: #1fd0ed;
}

.inline {
	display: inline-block;
	align-content: middle;
	/* border: 1px solid red; */
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	padding-left: 15px;
	justify-content: center;
	line-height: 55px;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 25px;
	margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}
.text {
	display: flex;
	justify-content: center;
}

#SlotP1,
#SlotP2,
#SlotP3,
#SlotP4 {
	width: 900px;
	height: 58px;
	background-color: #2c2c2c;
	border-radius: 10px;
}

#SlotP1 {
	position: absolute;
}

#SlotP2 {
	position: absolute;
}

#SlotP3 {
	position: absolute;
}

#SlotP4 {
	position: absolute;
}

#playerNameOne {
	height: 58px;
	width: 270px;
	font-weight: 650;
	font-size: 32px;
	line-height: 190%;
	text-align: left;
}

#playerNameTwo {
	height: 58px;
	width: 270px;
	font-weight: 650;
	font-size: 32px;
	line-height: 190%;
	text-align: left;
}

#playerNameThree {
	height: 58px;
	width: 270px;
	font-weight: 650;
	font-size: 32px;
	line-height: 190%;
	text-align: left;
}

#playerNameFour {
	height: 58px;
	width: 270px;
	font-weight: 650;
	font-size: 32px;
	line-height: 190%;
	text-align: left;
}

#avatarOne,
#avatarTwo,
#avatarThree,
#avatarFour {
	height: 58px;
	width: 86px;
	background-image: url('https://a.ppy.sh/4571241');
	background-size: cover;
	border-radius: 10px;
}

#playScoreOne,
#playScoreTwo,
#playScoreThree,
#playScoreFour {
	height: 58px;
	width: 180px;
	text-align: left;
	font-size: 30px;
	line-height: 68px;
	margin-left: 1px;
	border-radius: 0px 25px 25px 0px;
}

#gapOne,
#gapTwo,
#gapThree,
#gapFour {
	width: 20px;
	height: 58px;
	text-align: right;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 70px;
	color: #f55e8c;
}

#ScoreText {
	width: 40px;
	height: 58px;
	text-align: right;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 450%;
	color: #f55e8c;
}

#ScoreBetweenOne,
#ScoreBetweenTwo,
#ScoreBetweenThree,
#ScoreBetweenFour {
	height: 58px;
	width: 140px;
	color: white;
	font-size: 24px;
	text-align: left;
	margin-left: 10px;
	line-height: 280%;
}

.setOrder4 {
	transform: translateY(180px);
	transition-duration: 1s;
}

.setOrder3 {
	transform: translateY(120px);
	transition-duration: 1s;
}

.setOrder2 {
	transform: translateY(60px);
	transition-duration: 1s;
}

.setOrder1 {
	transition-duration: 1s;
}

#scoreWall {
	position: absolute;
	width: 960px;
	height: 284px;
	left: 0px;
	bottom: 78px;

	background: #191919;
}

#wrap {
	position: absolute;
	width: 900px;
	height: 58px;
	background-size: cover;
	background-color: #191919;
	z-index: -1;
	opacity: 0.0727;
	border-radius: 10px;
	background-position: 50% 50%;
}

#SlotColor,
#Slot2Color,
#Slot3Color,
#Slot4Color {
	margin: 15px;
	padding: 2px;
	width: 20px;
	height: 20px;
	border-radius: 8px;
}

#Slot1Color {
	background: #ff0000;
}

#Slot2Color {
	background: #0066ff;
}

#Slot3Color {
	background: #ffd600;
}

#Slot4Color {
	background: #05ff00;
}

#mapCurrent {
	position: absolute;
	width: 51px;
	height: 149px;
	background: #ffffff;
	border-radius: 10px 0px 0px 10px;
}

#MapSection {
	position: absolute;
	width: 40px;
	height: 36px;
	left: 6px;
	top: 26px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	text-align: center;

	color: #191919;
}

#mapPicked {
	position: absolute;
	height: 96px;
	left: 0;
	right: 0;
	top: 40px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 96px;
	/* identical to box height */

	text-align: center;
	margin-left: auto;
	margin-right: auto;

	color: #191919;
}

#xp-logo {
	position: absolute;
	width: 900px;
	height: 80px;
	left: 990px;
	bottom: 95px;
	background-image: url('./assets/xppen-pippy.png');
	background-size: cover;
	border-radius: 10px;
}
