.transparent-screen {
	display: flex;
	flex-grow: 1;
	//height: 100%;
}

.versus-footer {
	width: 100%;
	height: 285px;
	display: flex;
	* {
		box-sizing: border-box;
	}
}

.versus-center {
	flex: 1;
	padding: 15px 30px;
	display: flex;
	flex-direction: column;
}

$bg-color: rgba(#000, 0.95);

.versus-play {
	width: 580px;
	height: 100%;
	background: $bg-color;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&.left {
		border-top-right-radius: 40px;
	}

	&.right {
		border-top-left-radius: 40px;
	}

	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 150px;
	}

	&.right &__header {
		justify-content: flex-end;
	}

	&__avatar {
		width: 150px;
		height: 150px;
		border-radius: 20px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}

	&.left &__avatar {
		margin-right: 20px;
	}

	&.right &__avatar {
		order: 2;
		margin-left: 20px;
	}

	&__info {
		height: 100%;
	}

	&__nickname {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 650;
		font-size: 32px;
		line-height: 150%;
		color: #ffffff;
	}

	&.right &__nickname {
		text-align: right;
	}

	$leader-color: #f55e8c;
	$looser-color: rgba(#fff, 0.3);

	$border-weight: 90%;
	$border-width: 4px;

	&__main-score {
		display: flex;
		position: relative;
		box-sizing: border-box;
		padding: 17px 30px;
		z-index: 0;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 48px;
		line-height: 48px;
		color: $looser-color;

		&.leader {
			color: #f55e8c;
		}

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			width: $border-weight;
			padding: $border-width;
			border-radius: 15px;
			-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
		}
	}

	&.left &__main-score {
		&.leader::before {
			background: linear-gradient(-90deg, rgba($bg-color, 0) 0%, $leader-color 100%);
		}

		&::before {
			left: 0;
			background: linear-gradient(-90deg, rgba($bg-color, 0) 0%, $looser-color 100%);
		}
	}

	&.right &__main-score {
		justify-content: flex-end;

		&.leader::before {
			background: linear-gradient(90deg, rgba($bg-color, 0) 0%, $leader-color 100%);
		}

		&::before {
			left: calc(100% - $border-weight - $border-width * 2);
			background: linear-gradient(90deg, rgba($bg-color, 0) 0%, $looser-color 100%);
		}
	}

	&__nickwrap {
		display: flex;
		gap: 10px;
		align-items: center;
		margin-bottom: 20px;
	}

	&.left &__nickwrap {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	&.right &__nickwrap {
		justify-content: flex-end;
	}

	&__mapPicker {
		position: relative;
		box-sizing: border-box;

		text-align: center;

		width: 109px;
		height: 27px;
		border: 2px solid #f55e8c;
		border-radius: 10px;
		padding: 2px 10px;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		color: #f55e8c;
		letter-spacing: 0.16em;
	}
}
